<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ '/favicon.png' | prepend: site.baseurl }}">    
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="stylesheet" href="/assets/css/material.blue-deep_orange.min.css">
    <link rel="stylesheet" href="/assets/css/main_new.css">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/feed.xml" />
</head>
